<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.1" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.4.1" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net452" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.23.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions" version="2.0.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions.Core" version="1.7.485" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions.Sizzle" version="1.7.485" targetFramework="net452" />
  <package id="WebDriverChromeDriver" version="2.10" targetFramework="net452" />
</packages>